<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width">

        <!-- syntax highlighting CSS -->
        <link rel="stylesheet" href="/css/syntax.css">

        <!-- Custom CSS -->
        <link rel="stylesheet" href="/css/main.css">

    </head>
    <body>

        <div class="container">
          <div class="site">
            <div class="header">
              <h1 class="title"><a href="/"><img src="https://0.gravatar.com/avatar/e76c7ebc9d2e8a4b840f13cd01946437?d=https%3A%2F%2Fidenticons.github.com%2F630d5e98504911faba07365b96933c74.png" /></a></h1>
              <a class="extra" href="/">home</a>
              <a class="extra" href="/about.html">about</a>
            </div>

                {{ content }}

            <div class="footer">
              <div class="contact">
                <p>
                  Kyle Kelley<br />
                  rgb<!--._.-->krk@gmail.com
                </p>
              </div>
              <div class="contact">
                <p>
                  <a href="http://github.com/rgbkrk/">github.com/rgbkrk</a><br />
                  <a href="http://twitter.com/rgbkrk/">twitter.com/rgbkrk</a><br />
                </p>
              </div>
            </div>
          </div>
        </div> <!-- /container -->
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>

    </body>
</html>
