<!DOCTYPE html>
<html>
    <head>
        <title>{{ page.title }}</title>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta property="twitter:account_id" content="4503599627386357" />
        <meta name="viewport" content="width=device-width">

        <link rel="icon" 
              type="image/png" 
              href="/favicon.png" />

        <!-- syntax highlighting CSS -->
        <link rel="stylesheet" href="/css/syntax.css">

        <!-- Custom CSS -->
        <link rel="stylesheet" href="/css/main.css">

        <link href="/webfonts/ss-social.css" rel="stylesheet" />
    </head>
    <body>

        <div class="container">
          <div class="site">
            <div class="header">
              <h1 class="title"><a href="/"><img src="https://0.gravatar.com/avatar/e76c7ebc9d2e8a4b840f13cd01946437?d=https%3A%2F%2Fidenticons.github.com%2F630d5e98504911faba07365b96933c74.png" /></a></h1>
              <a class="extra" href="/">home</a>
              <a class="extra" href="/about">about</a>
              <a class="extra ss-icon ss-social-circle" href="http://github.com/rgbkrk" >octocat</a>
              <a class="extra ss-icon ss-social-circle" href="http://twitter.com/rgbkrk" >twitter</a>
            </div>

                {{ content }}

            <div class="footer">
              <div class="contact">
                <p>
                  Kyle Kelley<br />
                  rgb<!--._.-->krk@gmail.com
                </p>
              </div>
              <div class="contact">
                <p>
                  <a class="ss-icon ss-social-circle" href="http://github.com/rgbkrk" >octocat</a> <a href="http://github.com/rgbkrk/">github.com/rgbkrk</a><br />
                  <a class="ss-icon ss-social-circle" href="http://twitter.com/rgbkrk" >twitter</a> <a href="http://twitter.com/rgbkrk/">twitter.com/rgbkrk</a><br />
                </p>
              </div>
            </div>
          </div>
        </div> <!-- /container -->
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>

    </body>
</html>
